 /* .kutu,
.tic,
.times{
    display: inline;
} */
 p{
     
    /* display: inline; */
    width: 250px;
    word-wrap: break-word;
 
    
} 
 .taskitem{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
    border-radius: 10px;
    /* position: relative; */
    font-size: small;
    width: 260px;
    height: 30px;
    margin-bottom: 5px;
     padding-left: 5px; 
    padding-right: 5px;
   
} 
.overline{
    text-decoration: line-through;
}
.times{
    visibility:hidden;
}
.taskitem:hover .times{
    visibility: visible;
}
