* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  .body{
      height: 100vh;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
     
  }
  .card{
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    margin-top: 100px;
    padding: 20px 20px;
    box-shadow: 10px 10px #0149ce33,
    15px 15px rgba(111, 154, 235, 0.2),
    20px 20px rgba(77, 91, 117, 0.2);
    min-width: 60%;
    border-radius: 10px;
    text-align: center;
    min-height: 50%;
    margin-bottom: 30px;
  }
  .user-email,
  .user-phone,
  .user-location{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;

  }
  .image-title-box{
      display: flex;
      align-items: center;
      

  }
  img{
    border-radius: 50%;
    margin-top: 20px;
    margin-left:20px;
      


  }
  .imge{
      border-radius: 50%;
      margin-top: 20px;
      width: 20%;
      margin-left: 40px;
      
      
  }
  .user-register {
      margin-top: 20px;
    line-height: 30px;
  }
  .btn {
    /* width: 20%;
    position: absolute; */


    padding: 15px;
    color: white;
    background-color: rgb(27, 4, 233);

    cursor: pointer;
    
    /* font-size: 1.3rem;
    
    border-radius: 5px; */

    
    
  }
  .info{
      margin-left: 70px;
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; */
      text-align:  center;
    }
  /* .full-name{
    display: flex;
    justify-content: flex-end;

  }
  */
  /* .email,
  .location,
  .phone{
      display: flex;
  } */
  /* p{
      display: flex-end;
  } */