.task{
    
    background-color: pink;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    

}
.done{
    border-left: 4px solid blue;

}
.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}